<nav style='box-shadow: 0 .5rem 1rem rgba(0,0,0,.55)'
    class="navbar navbar-expand-lg navbar-light peach-gradient fixed-top">
    <div class="container">
        <a style='text-shadow: 0 2px 0 #fff; font-weight: 500;' class="navbar-brand" href="/">Voucher World</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="text-align: -webkit-right;" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a style='color: black; text-shadow: 0 0.5px 0 #fff; font-weight: 500;' class="nav-link"
                        href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a style='color: black; text-shadow: 0 0.5px 0 #fff; font-weight: 500;' class="nav-link"
                        data-target="#fluidModalRightSuccessDemo" data-toggle="modal">Create</a>
                </li>
                <li class="nav-item">
                    {% if not current_user.username %}
                    <!-- <a style='color: black; text-shadow: 0 0.5px 0 #fff; font-weight: 500;' class="nav-link"
                        data-toggle="modal" data-target="#modalRegisterForm">Log In</a> -->
                    <div style='text-shadow: 0 0.5px 0 #fff; font-weight: 500;' class="nav-link">
                        <div style="display: flex;">
                            <a style='color: black;' href="/users/login">Log In</a>
                            <div class='pl-1 pr-1'>/</div>
                            <a style='color: black;' href="/users/signup">Sign Up</a>
                        </div>
                    </div>
                    {% else %}
                <li class="nav-item">
                    <div style='text-shadow: 0 0.5px 0 #fff; font-weight: 500;' class="nav-link dropdown">
                        <!-- <a style="color:black;" href="/logout">User: {{ current_user.username }}</a> -->
                        <a style="color:black;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">User: {{ current_user.username.capitalize() }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/users/editprofile">My profile</a>
                            <a class="dropdown-item" href="/users/eventscreated">Created
                                events</a>
                        </div>
                    </div>



                </li>
                <li class="nav-item">
                    <div style='text-shadow: 0 0.5px 0 #fff; font-weight: 500;' class="nav-link">
                        <a style="color:black;" href="/users/logout">Log out</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div>
    {% include 'includes/_modal_create.html' %}
</div>